* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
}

header .container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1125px;
}
header .container .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .container .navbar ul > li {
  margin-left: 10px;
}
header .container .navbar__logo-content {
  color: #505050;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
header .container .navbar__logo-content .logo-heading {
  font-size: 15px;
  font-weight: 900;
  color: #505050;
  width: 251px;
  margin-left: 12px;
}
header .container .menu-icon {
  display: none;
}
header .container .top-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  width: 100%;
  padding-top: 10px;
  font-size: 14px;
}
header .container .top-links li > a {
  margin-bottom: 3px;
  text-decoration: none;
  color: #505050;
}
header .container .top-links .top-links__content {
  padding-right: 17px;
}
header .container .top-links .font-small,
header .container .top-links .font-medium,
header .container .top-links .font-large {
  font-weight: 900;
}
header .container .top-links .font-small {
  font-size: 11px;
  padding-left: 2px;
  padding-right: 9px;
}
header .container .top-links .font-medium {
  font-size: 14px;
  padding-right: 15px;
}
header .container .top-links .font-large {
  font-size: 16px;
  padding-right: 15px;
}
header .container .top-links select {
  border-style: none;
}
header .container .top-links select .en {
  font-size: 14px;
  font-family: Fira Sans, sans-serif;
}
header .container .top-links .font-color {
  display: flex;
  justify-content: space-between;
}
header .container .top-links .font-color .blue-circle,
header .container .top-links .font-color .green-circle,
header .container .top-links .font-color .yellow-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
header .container .top-links .font-color .blue-circle {
  background-color: #265781;
}
header .container .top-links .font-color .green-circle {
  background-color: #44af72;
  margin-left: 5px;
}
header .container .top-links .font-color .yellow-circle {
  background-color: #F2E162;
  margin-left: 5px;
}
header .container .top-links li:last-child {
  padding-top: 5px;
}
header .container .bottom-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  margin-left: 8px;
}
header .container .bottom-links .sub-headings {
  text-decoration: none;
  color: #505050;
  padding: 0 3px;
}
header .container .bottom-links li:nth-last-child(n-1) {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #b7b7b7;
  padding-right: 5px;
  height: 14px;
  font-family: Lato, sans-serif;
}
header .container .bottom-links li:last-child {
  border-right-style: none;
  border-right-width: 1px;
  padding-right: 5px;
}
header .container .right-border {
  color: #505050;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 6px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header .container {
    margin: 5px auto;
    padding: 0 15px;
    max-width: 600px;
  }
  header .container .menu-icon {
    display: inline;
  }
  header .container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header .container .navbar ul > li {
    margin-left: 5px;
  }
  header .container .navbar__logo-content {
    color: #505050;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  header .container .navbar__logo-content .logo-icon {
    height: 30px;
    width: 30px;
  }
  header .container .navbar__logo-content .logo-heading {
    font-size: 12px;
    font-weight: 900;
    color: #505050;
    width: 180px;
    margin-left: 8px;
  }
  header .container .title-links {
    display: none;
  }
  header .container .top-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    width: 100%;
    padding-top: 10px;
    font-size: 14px;
  }
  header .container .top-links li > a {
    margin-bottom: 3px;
    text-decoration: none;
    color: #505050;
  }
  header .container .top-links .top-links__content {
    padding-right: 17px;
  }
  header .container .top-links .font-small,
header .container .top-links .font-medium,
header .container .top-links .font-large {
    font-weight: 900;
  }
  header .container .top-links .font-small {
    font-size: 11px;
    padding-left: 2px;
    padding-right: 9px;
  }
  header .container .top-links .font-medium {
    font-size: 14px;
    padding-right: 15px;
  }
  header .container .top-links .font-large {
    font-size: 16px;
    padding-right: 15px;
  }
  header .container .top-links select {
    border-style: none;
  }
  header .container .top-links select .en {
    font-size: 14px;
    font-family: Fira Sans, sans-serif;
  }
  header .container .top-links .font-color {
    display: flex;
    justify-content: space-between;
  }
  header .container .top-links .font-color .blue-circle,
header .container .top-links .font-color .green-circle,
header .container .top-links .font-color .yellow-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
  }
  header .container .top-links .font-color .blue-circle {
    background-color: #265781;
  }
  header .container .top-links .font-color .green-circle {
    background-color: #44af72;
    margin-left: 5px;
  }
  header .container .top-links .font-color .yellow-circle {
    background-color: #F2E162;
    margin-left: 5px;
  }
  header .container .top-links li:last-child {
    padding-top: 5px;
  }
  header .container .bottom-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    margin-left: 8px;
  }
  header .container .bottom-links .sub-headings {
    text-decoration: none;
    color: #505050;
    padding: 0 3px;
  }
  header .container .bottom-links li:nth-last-child(n-1) {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #b7b7b7;
    padding-right: 5px;
    height: 14px;
    font-family: Lato, sans-serif;
  }
  header .container .bottom-links li:last-child {
    border-right-style: none;
    border-right-width: 1px;
    padding-right: 5px;
  }
  header .container .right-border {
    color: #505050;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 6px;
  }
}
/* Medium devices (landscape tablets, 768px and upto 991px) */
@media only screen and (min-width: 768px) and (max-width: 990px) {
  header .container {
    max-width: 960px;
  }
  header .container .navbar {
    display: flex;
    flex-direction: row;
  }
  header .container .navbar ul > li {
    margin-left: 8px;
  }
  header .container .navbar__logo-content {
    color: #505050;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  header .container .navbar__logo-content .logo-icon {
    height: 35px;
    width: 35px;
  }
  header .container .navbar__logo-content .logo-heading {
    font-size: 10px;
    font-weight: 900;
    color: #505050;
    width: 160px;
    margin-left: 8px;
  }
  header .container .menu-icon {
    display: none;
  }
  header .container .top-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    width: 100%;
    padding-top: 10px;
    font-size: 9px;
  }
  header .container .top-links li > a {
    margin-bottom: 3px;
    text-decoration: none;
    color: #505050;
  }
  header .container .top-links .top-links__content {
    padding-right: 12px;
  }
  header .container .top-links .font-small,
header .container .top-links .font-medium,
header .container .top-links .font-large {
    font-weight: 900;
  }
  header .container .top-links .font-small {
    font-size: 7px;
    padding-left: 2px;
    padding-right: 4px;
  }
  header .container .top-links .font-medium {
    font-size: 10px;
    padding-right: 10px;
  }
  header .container .top-links .font-large {
    font-size: 12px;
    padding-right: 10px;
  }
  header .container .top-links select {
    border-style: none;
  }
  header .container .top-links select .en {
    font-size: 8px;
    font-family: Fira Sans, sans-serif;
  }
  header .container .top-links .font-color {
    display: flex;
    justify-content: space-between;
  }
  header .container .top-links .font-color .blue-circle,
header .container .top-links .font-color .green-circle,
header .container .top-links .font-color .yellow-circle {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin-right: 2px;
  }
  header .container .top-links .font-color .blue-circle {
    background-color: #265781;
  }
  header .container .top-links .font-color .green-circle {
    background-color: #44af72;
    margin-left: 2px;
  }
  header .container .top-links .font-color .yellow-circle {
    background-color: #F2E162;
    margin-left: 2px;
    margin-right: 3px;
  }
  header .container .top-links .search-icon {
    height: 12px;
  }
  header .container .top-links li:last-child {
    padding-top: 1px;
  }
  header .container .bottom-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    padding: 6px 0;
    font-size: 9px;
    margin-left: 2px;
  }
  header .container .bottom-links .sub-headings {
    text-decoration: none;
    color: #505050;
  }
  header .container .bottom-links li:nth-last-child(n-1) {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #b7b7b7;
    padding-right: 5px;
    height: 12px;
    font-family: Lato, sans-serif;
  }
  header .container .bottom-links li:last-child {
    border-right-style: none;
    border-right-width: 1px;
    padding-right: 2px;
  }
  header .container .right-border {
    color: #505050;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 1px;
  }
}