$color-white: #ffffff;
$color-lightgrey: #f8f8f8;
$color-black: black;
$color-brown: #505050;
$color-darkbrown: #272727;
$color-greenish: #1b7642;
$color-darkgreenish:#0f5c30;
$color-green: #1b6d3e;
$color-darkgreen: #186a3b;
$color-lightgreen: #44af72;
$color-playgreen: #4fc172;
$color-lightbrown: #3f3531;
$color-blue: #265781;
$color-yellow: #F2E162;
$weight: 900;
$center: center;
$full-width: 100%;
$image-path: "../images";